:root {
  --primary-color: rgb(37, 226, 37);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.my-green {
  color: rgb(37, 226, 37);
}

.link-section {
  background-color: rgb(5, 48, 76);
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.list-of-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  font-size: 0px;
}

.link {
  color: white;
  font-size: 16px;
  margin-right: 0;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  border-right: 1px solid white;
}

.link:hover {
  color: var(--primary-color);
}

.intro-section {
  margin: 125px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section * {
  color: var(--primary-color);
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  animation: typing 1.5s steps(15, end) forwards,
    blink-caret 0.75s step-end infinite;
    border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-right-color: white;
  }
  50% {
    border-right-color: transparent;
  }
}
